<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout::head"></head>
<body>
<h1>Create new product</h1>
<a th:href="@{/products/list}">Back to list product</a>
<form th:action="@{/products/create}" method="post" th:object="${productForm}" enctype="multipart/form-data">
    <input type="text" placeholder="Name" th:field="*{name}">
    <input type="text" placeholder="Price" th:field="*{price}">
    <input type="text" placeholder="Description" th:field="*{description}">
    <input type="file" th:field="*{image}">
    <button>Create</button>
</form>
<footer th:replace="/product/layout::footer"></footer>
</body>
</html>